language: rust
rust:
  - stable

# cache trick from https://github.com/japaric/trust
before_cache:
  - chmod -R a+r $HOME/.cargo
cache: cargo

env:
  global:
    - secure: GxL8AeWbzT2fTwWZ/RhFl3HMCGeHc5LHK+SYSdf3S0WfxIyg+1LsekNx+QNqqA1iJjLrmWoyDfGoRkS7/46hkRKZ+kci61xDIU4JcpW8hwo5ANjJzGq0x+LCekkGjwQeaG92D2rRFOX+IOEkSZKWCWHj/xkLCydLGBHcICFenC+jWRjifbwVj2b38tWxhKFIMaKuATtHRIU1FwzqVW8kE3ROiuSpEK6Guo7QNNqh0Fj+z/cYzBmiE8i7nFC19yAUyfs2Zjv2hUntQlORQhO7cIE2dUXSr/5B6zvy/1e6uBAPDO+hWn6mbSBHRIAs6GzPQV4kb6taNpih30g7g51OSW6TQxIcMZzmhsJDh48cTTqN9TKaF8hNsVxgOIk7zs+MurustCWXFZwpC+us2fTd9mYNloW/u+wrRAlXTzKQtbQn7CDnjX+C9bLtWrr6RnP2V8cdfLEI0+V9LN4uCP4xEpyQkyXX6kFZXcAoe4LFrezUkNyDKvarR59qRHCIfWCeOde+Icoh/fAHgtUawqDrTHWTy4GcGaaFzVwSBA36+IjH5lMoR2lCdwxTjk/wVFBGBKjwzqfxZSSwwx48sNQSt8H7QSvKMdqb98X2E4ZTrQnplT7tLMsdy8iF9VCbg4TqcDXeLcn5DE30yZIpTzrRPGlwHlBiKLdnUvJHrwe6wKY=
    - secure: VeIkqEoSNHEQaeXciAt+2WICvxc45xPscDwiZCxmuLOyYjUSxp1kazyoY9GF7NFqgkdmB9+0a5p9CJF7qVGSoaCMv0bUv9QIgZLOCay1j278v4nsOHj2dtdqIvoKLL6HEfVtS4LYoI5CdG6hNuck50eUjGC+Y/vkkhBfYVRueebh/kwDgjGKBdbnPPb2yFsKkf3NTFoGjjDXUtjlRNroD80bz1WVaOYCYhJZGzB2pf4eBTEPjFqvpv2pBjC/PwRA18rAX1PdpuQp1gUIL7Ig3IvRjP2111YCdHc2uq6w4DQKpOLJ24lEEpcP4r/DcpLg8IQpwHokvesN2cYLs7j71HLpRuOdVyHudDxnxHq36C8NyZ65lE/2ByXqclYqxtzjFDjHlXAsHlb7Yy331Zrp+v010hBIm5gC0O1Bpvn9hLuAYPqFxME7arYicDw0WLPNH5RAXlOsAxtG1H3T6CGRU4ClpNuJTN70XZ7NP9Hv4f6lsgZxSVprUikBBt/+Sb17XMzKAPtolY4NoQGKv8w8elh4q2EIRwR/udQWPq0WFlUl9YhnRic8jofHOS16wkxmdscUa0PWD5QhzTgbLM1tnl4ynaXfOdMlkz6ECIxRmOrcQFRxpvJhc+BBiWvvBh7QmQcehYA5waU+HipFIvme/uI2d0MbgkWsHFJ8+gkKm6U=

install:
- rustup self update
- rustup update
- rustup component add clippy

script:
  - cargo build --verbose
  - make test
  - make lint

deploy:
  on:
    repo: jokeyrhyme/dotfiles-rs
    tags: true
  provider: cargo
  token: $CARGO_TOKEN

